{% extends "base.html" %}
{% block title %}User-Profile{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{%if messages%}
{%for msg in messages%}
    <p>{{msg}}</p>
{%endfor%}
{%endif%}
{% endwith %}
<table class="table table-bordered">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col">Pasword</th>
          
        </tr>
      </thead>
      <tbody>
        {% for data in authicate%}
        <tr>
          
          <td>{{data.id}}</td>
          <td>{{data.email}}</td>
          <td>{{data.password}}</td>
        </tr>
        {% endfor%}
      </tbody>
</table>
{% endblock %}



